# Exclude build artifacts
target/

# Exclude temporary files
**/*.iml
**/*.md
.DS_Store

# Exclude sensitive information
apiKey.json


!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store